click==8.1.2
colorama==0.4.4
cycler==0.11.0
distlib==0.3.4
filelock==3.6.0
Flask==2.1.1
Flask-SQLAlchemy==2.5.1
fonttools==4.33.3
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
kiwisolver==1.4.3
MarkupSafe==2.1.1
matplotlib==3.5.2
numpy==1.22.4
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
platformdirs==2.5.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
six==1.16.0
SQLAlchemy==1.4.35
threadpoolctl==3.1.0
virtualenv==20.14.1
Werkzeug==2.1.1