atomicwrites
attrs
certifi==2022.5.18.1
click
colorama
dnspython
Flask
Flask-Cors
gunicorn
importlib-metadata
iniconfig
ipykernel
itsdangerous
Jinja2
joblib
MarkupSafe
notebook
numpy
packaging
pandas
pluggy
py
pymongo
pyparsing
pytest
python-dateutil
pytz
scikit-learn
scipy
six
threadpoolctl
tomli
typing_extensions
Werkzeug
wincertstore
xgboost==0.90
zipp